.content__full {
  max-width: 1200px;
  margin: auto;
  padding: 24px;

}
.recaptcha__content {
  display: block;
  margin: auto;
  div div div {
    margin:auto !important;
  }
}
.content__form{
  max-width: 800px;
  margin: auto;
}